body {
    width: 80%;
    margin: auto; /*margin auto centraliza na horizontal*/
    font-family: Verdana, helvetica, sans-serif;
}
h1 {
    
    font-size: 40px;
    text-align: center;
    background-color: orange;
    padding: 5px;

}
h2 {
    font-size: 30px;
    color: brown;
    background-color: orange;
    padding: 10px;
    border-bottom: 5px brown solid;
    border-left: 5px brown solid;
    border-bottom-left-radius: 10px;
    border-bottom: 5px brown solid ;
    
}
h3 {
    font-size: 20px;
}
p {
    font-size: large;
}

ul {
    padding-left: 0;
}
li {
    font-size: large;
    padding-left: 0;
    list-style-position: inside;
}
a {
    text-decoration: none;
}
a:hover {
    transition: 0.8s;
    text-decoration: underline;
    color: cadetblue;
    
}
a:visited {
    color: red;
}